[2016-07-05 15:58] akgoins opened #4 "Save files using user input arguments"
The reach and capabilities map needs to have an option to save the file name based upon a user input argument (rosparam).

[2016-07-05 16:05] akgoins opened #5 "Combine targets and reduce amount of code"
There are a lot of targets to compile for showing the various types of objects which contain redundant code (e.g. create_sphere_and_arrow, create_sphere_and_arrow_color, show_sphere_and_arrow, etc.).  Several of the targets can be combined to reduce the number of compiled targets, make it easier to read, and to make future improvements easier (less files to change).

[2016-07-05 16:08] akgoins opened #6 "Convert all TODO's into Github issues"
There are several TODO's in the code.  These need to be captured as issues for better transparency so others can see the progress of the project.

[2016-07-15 21:00] akgoins opened #10 "Capability map visualization does not update properly"
The capability map does not update properly when different dissection values are selected.  The map color disappears and the correct markers do not get removed.  Also, the data gets updated and published on a while loop.  It would be nice if the data would only get updated and republished when there is a change in the visualization options in the Rviz window.
![capability_map_error](https://cloud.

[2016-07-27 15:38] akgoins commented on #5
Closing, as #9 addressed this issue.

[2016-07-27 15:38] #5 closed

[2016-07-27 16:09] akgoins opened #11 "Separate capability and reachability generation into libraries and nodes"
Currently, the reachability map and capability map have the functionality built into the ROS node.  The core functionality, which takes in file arguments and outputs or saves a map, needs to be separated from the ROS node.  This way, the map generation can be compiled as a library and used in any C++ project.  The ROS node should be called something like "create_capability_map_node" and should cre

[2016-08-12 21:39] akgoins opened #13 "Create HDF5 utilities library"
There is some copy/paste reuse of code in the project for creating an HDF5 file.  This can easily be moved to a separate class and included into each file where necessary for saving/loading the various maps.  See [here](https://github.com/jontromanab/reuleaux/blob/inverse_map/map_creator/src/create_reachability_map.cpp#L222) and [here](https://github.com/jontromanab/reuleaux/blob/inverse_map/map_c

[2016-08-12 21:44] akgoins opened #14 "Use alternate input method for grasp poses"
The `create_base_place_map` and the `find_base_by*` nodes have hard coded grasp poses.  These need to be loaded by ROS params (and set in roslaunch files) or they need to be loaded from a text file so that the grasp poses can easily be updated without having to recompile.

[2016-08-22 07:44] jontromanab commented on #4
Solved in PR base_placement. Please close this issue

[2016-08-22 07:50] jontromanab opened #16 "Showing robot model as outout in base placement plugin"
The option of showing robot model as base locations only shows arrow with Yellow color. The robot base can be included in two ways. 1. By Moveit: In trajectory visualization, multiple robot models are shown, but moveit only shows it as trajectory, which have different joint values and links are on different positions. Which is not in our case. Already have done with moveit but it only shows robot

[2016-08-22 07:53] jontromanab opened #17 "Clear union map in base placement"
For now, the clear map button in base placement widget does nothing. Need to implement a function which clears the union map from the display

[2016-08-22 08:01] jontromanab opened #18 "Disection of map in visualization"
For now, the disection of maps is perfomed by the selecting the options in the panel. There are merely 4 options: 1st, 2nd, middle and end. The disection process can be improved by selecting an axis and dragging around to increase or decrease the display of the map. It can be easily done by selection manager in interactive marker.

https://github.com/ros-visualization/visualization_tutorials/blob/

[2016-08-22 08:06] jontromanab opened #19 "low resolution map"
The maps for resolution lower than 0.05 can take hours or the system may stop responding. It is because of the high number of poses in low resolution maps. It can be solved by running the loop on poses for individual spheres, not on the whole number of poses in the multimap (which is currently done now) Provide an warning message notifying the user that they have asked for a low resolution map, an

[2016-08-22 08:08] jontromanab opened #20 "unnecessary sphere discretization functions"
There are various functions in sphere_discretization header which are not even needed. We can clear those functions. Some functions are also there which are not related to sphere_discretization. Take those functions away to a new header.

[2016-08-22 08:09] gavanderhoorn commented on #19
I think you mean *high resolution* here, right?

[2016-08-22 08:10] jontromanab opened #21 "Include rotation for poses"
For now, the map creation process does not take into account the final rotation of all the poses and discretize based on the rotation. So a single pose considered now, will have multiple poses rotated by in z axis. For 6DOF robot it is ok. But when we will move to more than 6DOF robot, we have to include this rotation parameter.

[2016-08-22 08:11] jontromanab opened #22 "Implementation on a real robot"
Implement the whole work on a real robot.

[2016-08-22 08:12] jontromanab opened #23 "Base placement by Gradient Descent"
A new method of finding base location by Gradient Descent algorithm. The user provides a base location by interactive marker, which will be the seed or initial condition. From there Gradient Descent will take the robot base to optimal location in each iteration by changing all the pose values.

[2016-08-22 08:17] jontromanab opened #24 "output of base placement"
The arrows from all the base placement methods are pointing towards Y-direction. Transform them, so they point to Z-direction.
From the scoring methods, the base locations are taken from the high scoring spheres. All the poses from high scoring spheres are collected in a container. From that first numofFinalBase(user argument) poses are considered as final output. So the outputs mostly comes from

[2016-08-22 09:23] jontromanab commented on #19
@gavanderhoorn Yes. High Resolution. Sorry for that.

[2016-10-06 15:55] akgoins commented on #14
Closing this, as the rviz plugin uses interactive markers to set the grasp poses.

[2016-10-06 15:55] #14 closed

[2016-10-06 15:56] #4 closed

[2016-10-24 05:34] kyunghwan opened #27 "Where are map_creator/WorkSpace.h map_creator/capability.h?"
Hi. I want to build this project.
But, it has error because map_creator/WorkSpace.h and map_creator/capability.h
where is header file?
Thank you for reading.

[2016-10-24 14:57] Levi-Armstrong commented on #27
It looks like those should be getting generated from WorkSpace.msg and capability.msg which are located  [here](https://github.com/ros-industrial-consortium/reuleaux/tree/master/map_creator/msg). Though not sure why you are getting the error; can you post your build output?

[2016-10-25 02:16] geoffreychiou commented on #27
I had the same problem earlier trying to build on Kinetic. Try adding map_creator to the CMakeLists.txt for [workspace_visualization](https://github.com/geoffreychiou/reuleaux/blob/kinetic-devel/workspace_visualization/CMakeLists.txt) under find_package.

[code]

Credit to @Jmeyer1292 for figuring it out.

[2016-10-26 02:08] shaun-edwards commented on #27
@geoffreychiou can you submit a PR?

[2016-10-26 19:32] jontromanab commented on #27
Hello @geoffreychiou ... It seems that you are having some problems building Reuleaux. I still have not looked into Kinetic yet. But on Indigo it should work fine. About the map_creator/WorkSpace.h and map_creator/capability.h files they are automatically generated during the build process. Can you please provide some of your build errors you are having. Then may be I can help. Thank you @Levi-Arm

[2016-10-26 23:06] 130s opened #29 "Video not included on wiki"
http://wiki.ros.org/reuleaux#Overview states about a video but it seems to be missing :)

[2016-10-29 03:15] jontromanab commented on #29
@130s Thank you very much for notifying that. Yes. It is missing. Will try to include as soon as possible. :( Forgot to do that.

[2016-10-29 03:16] jontromanab commented on #29
@130s Thank you very much for notifying that. Yes. It is missing. Will try to include as soon as possible. Forgot to do that.

[2016-11-01 15:53] akgoins opened #30 "Visualization improvements"
- [ ] Overlay robot on final base on pose click
- [ ] Add alpha proportional to grasp reachability to the reachability map display
- [ ] Show the IK solutions for the given robot pose to reach each grasp point, use spin dial or slider to increment and select desired pose to show IK solution for.

[2016-11-01 15:59] akgoins opened #31 "Add constraints to final pose output"
- [ ] Add bounding box that will constrain the output base location.  Constraint should allow for "inside bounding box" for selecting a specific region, and "outside bounding box" for excluding the work cell.
- [ ] Add orientation constraint to eliminate final base locations that are not within a given constraint (X degrees from vertical, etc.)

[2016-11-24 03:30] Levi-Armstrong opened #34 "Request corrections to comply with ROS Cpp Style Guide."
- [variables](http://wiki.ros.org/CppStyleGuide#Variables) should be under_scored
- [functions](http://wiki.ros.org/CppStyleGuide#Function_.2BAC8_Methods) should be camelCased
- [Classes/Struct](http://wiki.ros.org/CppStyleGuide#Classes_.2BAC8_Types) should be CamelCased
- [functions arguments](http://wiki.ros.org/CppStyleGuide#Function_.2BAC8_Methods) should be under_scored

[2016-11-24 03:34] Levi-Armstrong opened #35 "Request moving package workspace_visualization header file into a include/workspace_visualization directory"

[2016-11-24 07:17] gavanderhoorn commented on #34
Suggestion: run `roslint` or use `clang-format`.

[2016-11-26 10:50] facontidavide opened #36 "ENHANCEMENT proposal: Speed and Memory usage improvement"
Thanks for making this library publicly available !!

As I discussed in #33, you can considerably speedup your application is you ditch std::vector in favor of boost::array.
In multiple places we know by design that the container will have always either 3,7 or 10 elements.

Using boost::array you  avoid the 24 bytes overhead in size of std::vector and the run time cost (considerably high) of memor

[2016-12-09 09:46] facontidavide commented on #36
Hi,

can we discuss this improvement further? I can prepare a PR to merge an improvement based on using std::array instead of std::vector.
Is there any of the maintainers willing to move this forward?

Davide

[2016-12-09 14:25] akgoins commented on #36
@facontidavide, I can help with moving it forward.  I don't have a lot of free time around the holidays but can help afterwards.  We have a project or two that could use this package so there will probably be more active development and support in the coming weeks.  I am reviewing the current PR and will merge it soon.

[2016-12-09 17:02] facontidavide commented on #36
This is a work in progress. Only reachability plan is working and I haven't double checked the widget part yet.

https://github.com/facontidavide/reuleaux/tree/static_arrays

The current speed enhancement is:

Master: 9.7 seconds
new branch: 6.0 seconds

[2016-12-15 07:42] jontromanab commented on #35
@Levi-Armstrong Actually some packages that uses plugin in Rviz has also put the include files in the /src instead of /include/  including plugin tutorial [https://github.com/ros-visualization/visualization_tutorials/tree/kinetic-devel/rviz_plugin_tutorials/src](url)

If you still want to move it to /include folder, this will take no effort. Please let me know and I will move them [instantly.]

[2017-01-05 16:04] #13 closed

[2017-01-11 01:57] 130s commented on #29
Friendly ping :)

I googled to no avail, though I thought saw a video somewhere. Was it during a dev meeting?

[2017-01-11 04:52] Levi-Armstrong commented on #29
@akgoins, Do you by chance have a copy of the video?

[2017-01-11 05:30] jontromanab commented on #29
@akgoins if you have the video please share it, I can upload it to the [wiki](http://wiki.ros.org/reuleaux#Overview)
Anyways I will be making a video in couple of days.

[2017-01-27 17:00] AndyZe opened #39 "Build fails with UR5 ikfast"
Using the ur5_ikfast.cpp file from here:
https://github.com/ipa320/cob_manipulation/blob/indigo_dev/cob_kinematics/ikfast/src/ikfast_ur5.cpp

And following step 3.3 from the ROS wiki:
http://wiki.ros.org/reuleaux#Setting_up_Kinematics_for_the_robot

Results in this build error:  (see attached)
[code]
![build_error](https://cloud.githubusercontent.com/assets/11284393/22379630/a57a04bc-e47f-11e6-940

[2017-01-27 17:06] AndyZe commented on #39
dgetrf_ is defined here at line 74 of ur5_ikfast.cpp:

`extern "C" {
  void dgetrf_ (const int* m, const int* n, double* a, const int* lda, int* ipiv, int* info);
  void zgetrf_ (const int* m, const int* n, std::complex<double>* a, const int* lda, int* ipiv, int* info);
  void dgetri_(const int* n, const double* a, const int* lda, int* ipiv, double* work, const int* lwork, int* info);
  void dgesv

[2017-01-27 17:09] gavanderhoorn commented on #39
I'm not saying it's the cause, but:
[code]
That is quite some time (and versions) ago.

[2017-02-21 17:48] jontromanab commented on #39
@AndyZe  I have created a new ikfast file for UR5. It is not breaking. You can use that. Please look at the new commit.

[2017-02-21 18:33] #39 closed

[2017-03-21 23:52] atomoclast opened #41 "fails to build due to missing H5cpp.h?"
Hello all,

I'm trying to build these packages, but I'm getting an error on map_creator:

[code]

[2017-03-22 06:50] jontromanab commented on #41
Hello @atomoclast ,

Have you tried installing hdf5 by

sudo apt-get install libhdf5-dev

I just realized the hdf5 library should be mentioned in CMakeLists.txt as a dependency. It will be included in the next PR. For now, it should work. Please let me know.

[2017-03-22 14:04] atomoclast commented on #41
@jontromanab ,

Thank you for the prompt reply! I already have libhdf5-dev installed and it still fails for the same reason...

I am trying to build on ros kinetic on 16.04. That may be an issue?

[2017-03-22 14:47] atomoclast commented on #41
I did read on this page that you need the H5C++ library...
http://askubuntu.com/questions/702145/c-header-files-for-hdf5-are-missing
I tried to build and it still failed....

Gonna try and build it from source...because it could be a version issue. What version of hdf5 lib are you using?
https://support.hdfgroup.org/HDF5/release/obtainsrc.html#src

[2017-03-22 15:30] atomoclast commented on #41
So. I tried to build from source. The most recent release that is.

What version are you using? Gonna try and see if I can find the source for H5C++.

[2017-03-22 16:54] jontromanab commented on #41
my version is 1.8.11
But I think the issue is because of Ubuntu version
Have you tried to build any other program using hdf5 ??
may be take a .h5 file and run h5dump and see the results

[2017-03-22 17:40] atomoclast commented on #41
I think openRAVE uses hdf5. In their source, they're importing header files.

The issue is that it needs the H5Cpp.h. Which i tried to apt-get. Still not working. So it could be a version thing or something I need to build from source.

[2017-03-22 18:46] jontromanab commented on #41
Yes. Openrave uses hdf5. But that is hdf5py which can be installed separately.
Do you want me to write a sample code which uses hdf5cpp. You can run that and let me know if the sample program is also having problem.(it should be if it cannot find hdf5cpp)

Have you tried to build it from source?? Please try to build from source and let me know.

The most probable reason is that the ubuntu and ROS

[2017-03-22 19:00] atomoclast commented on #41
So. I just build it with no issue on an indigo/14.04 machine. I'll look into why it doesn't build and fix it, then get back to you!

[2017-03-22 19:04] geoffreychiou commented on #41
@atomoclast, A few months back I managed to get it to build on Kinetic with these changes:
https://github.com/ros-industrial-consortium/reuleaux/pull/28/files
I don't know if it still works but you might want to start there.

[2017-03-22 20:41] atomoclast commented on #41
@geoffreychiou

Looks like it's failing now. It did get farther, but still fails. I'm gonna look into it more. This is more of a side project right now between a few other priorities.

Anyways. The output I got is as follows:

`Errors     << map_creator:make /home/andrew/Development/openrave_ws/logs/map_creator/build.make.000.log
CMakeFiles/create_reachability_map.dir/src/create_reachability_map.c

[2017-03-22 20:45] geoffreychiou commented on #41
Do you have a fork of the repo I could take a look at?

[2017-03-23 15:04] atomoclast commented on #41
@geoffreychiou, I can make and push one, but all I did was take the current master branch and just update the cmake files and package.xmls with the changes you showed me. Let me post it so we can make a branch on here maybe?

[2017-03-23 21:48] willcbaker commented on #41
tried using h5c++ compiler https://github.com/willcbaker/reuleaux/tree/feature/kinetic-devel; aborted compilation after 3 hrs and no errors printed to screen

[2017-03-24 01:44] geoffreychiou commented on #41
@atomoclast, I believe you may have copied the files over directly instead of just pasting over the changes.

https://github.com/geoffreychiou/reuleaux/tree/kinetic-build
Here is my fork with the changes applied.

I was able to get your fork to build by adding hdf5_dataset to the target_link_libraries of create_reachability_map and create_capability_map in map_creator/CMakeLists.txt

Example:
Old:

[2017-03-24 15:03] atomoclast commented on #41
@geoffreychiou

I just tested it. Everything but base_placement plugin builds on my end.

The error message i got was:

`Errors     << base_placement_plugin:make /home/andrew/Development/openrave_ws/logs/base_placement_plugin/build.make.000.log
/home/andrew/Development/openrave_ws/src/reuleaux/base_placement_plugin/include/base_placement_plugin/point_tree_item.h:30: Note: No relevant classes found

[2017-03-25 14:07] jontromanab commented on #41
@atomoclast  are your sphere_discretization, kinematics and hdf5_Dataset libraries properly built from map_creator package? Have tried creating any maps and visualizing them in rviz?

It looks I have to create a kinetic branch to replicate the problems. (It is fine in indigo so far)
I am installing kinetic now. May be can tell you the results by tomorrow.

[2017-03-27 15:33] geoffreychiou commented on #41
@atomoclast, Have you tried doing a clean build?

If you have, push your latest changes to your git and let me see if I can replicate.

[2017-03-30 00:52] 130s opened #43 "[Q] How to specify the target robot (model file) upon creating the reachability map?"
As per title. I followed http://wiki.ros.org/reuleaux but I haven't got a map.

(The robot package I'm thinking of already has OpenRave package so I skipped chapter 3.)

[2017-03-30 01:18] geoffreychiou commented on #43
I think you copy your robot_ikfast.cpp file into map_creator/include/ and modify
https://github.com/ros-industrial-consortium/reuleaux/blob/master/map_creator/include/map_creator/kinematics.h by commenting out
[code]
and replacing it with your new file.

[2017-03-30 06:20] jontromanab commented on #43
@130s Can you let me know which robot you are thinking of?
I have repository of various robots ikfast files. May be I can send you the one you need.

Lets' go through your problem step-by-step:

Have you completed this step? **3.3 Setting up Kinematics for the robot**
Here you have move <your_robot_ikfast>.cpp file to the map_creator/included/map_creator folder and update the kinematics.h file by

[2017-03-30 22:45] 130s commented on #43
Ok, at least my question in the subject line is answered, thanks.

[2017-03-30 22:45] #43 closed

[2017-03-30 23:04] 130s opened #44 ""undefined reference to `dgetrf_" errors"
Using my own branch (https://github.com/130s/reuleaux/tree/working/nextage) I'm trying to build looking at [Setting up Kinematics for the robot](http://wiki.ros.org/reuleaux#Setting_up_Kinematics_for_the_robot) tutorial. I got an error:

[code]

Full command and log:

[code]
Btw, just curious building with `catkin_tools` didn't help.

[code]

[2017-03-30 23:11] 130s opened #45 "Tutorial document needs update"
Thanks for the interesting work!

In a trial to apply `reuleaux` to a robot of my interest, I'm still struggling. I got some assistance in #43, and also I figured something by myself, which I've already applied to the wiki ([diff](http://wiki.ros.org/action/info/reuleaux?action=diff&rev2=45&rev1=42)). But there are still some issues and questions for the documentation of `reuleux`:

- Section 3 on

[2017-04-04 15:13] jontromanab commented on #45
Hello @130s
Thank you very much for all your effort in making Reuleaux a better organized project. The documentation in the github repo will surely be updated in the next PR (already a PR is pending which has various changes in base placement section) After the PR is merged I will surely modify the documentation in the ROS wiki. We have just provided a basic structure for the documentation to be u

[2017-04-04 22:43] 130s commented on #45
Thanks for the response @jontromanab

Unfortunately that's opposite from what I'm suggesting. After looking at many projects gone stale over the time, I'd humbly suggest to aggregate the location to maitainance. I think using rosdoc is a way to go for ROS projects as I suggested.

[2017-04-04 22:45] 130s commented on #44
@jontromanab I'm stuck at this. If you could take a look I'll appreciate :)

[2017-04-06 16:05] jontromanab commented on #44
hello @130s Thank you very much for your patience. I believe this is a problem related to the generated IK file from openrave. (have you checked that the ikfast file is providing the same IK solutions with the given FK solutions??) I once got this error with a KUka robot model. However I am not fully sure. Today I will try to verify my assumption with your ikfast file. Just hold on for 1 more day.

[2017-04-09 07:26] mrshahabian opened #46 "For frame [/base_link]: Frame [/base_link] does not exist"
I load the reachability map and then faced with this error,
For frame [/base_link]: Frame [/base_link] does not exist
![base_link](https://cloud.githubusercontent.com/assets/19403101/24835583/5fedc170-1d1b-11e7-96c3-82d7ea1d6d5d.jpg)

[2017-04-10 15:44] jontromanab commented on #46
hello @mrshahabian ... The problem is due to "Fixed Frame". Please make your fixed frame from "/map" to "base_link". Now you can visualize the map. In the load_reachability_map.cpp file it is mentioned that the fixed_frame is "ws.header.frame_id = "/base_link";". So otherwise if you change it to map, and make your package you can also visualized the map. Hope it is helpful. Please let me know if y

[2017-04-10 20:31] jontromanab commented on #41
@atomoclast have you been able to solve the problem of running reuleaux on Kinetic yet. Please let me know. I have not been able to find any computer to install kinetic yet. All my work is in indigo and and can't update it now. But if you have not solved it I can borrow a computer and install kinetic there and reproduce your problems.

[2017-04-10 20:46] jontromanab commented on #44
Hello @130s .Very very sorry for the late reply. I have found the solution to your problem. On the contradictory to my initial guess, this is not a problem with the ikfast file, as the ikfast file works completely fine with ikfastdemo or other applications. The problem is with the current branch of reuleaux. It is solved in pending PR. In the new PR of the branch [robot_visualization](https://gith

[2017-04-10 20:51] jontromanab commented on #45
@130s I did not understand the response clearly. Can you please elaborate what do you want me to do?
I am not very familiar with rosdoc.

[2017-04-20 06:55] akashpatil92 opened #47 "Cannot load reachibility map"
Hello @jontromanab , I was creating reachibility map for UR10 robot and was successful for generating ikfast cpp file for the same.I also created reachibility map from that ikfast cpp which was of 111 MB(I am doubtful about this file size for h5 map since rest map file sizes are quiet small). I get following error while loading this reachibility map.

[ INFO] [1492671170.055510703]: Opening map ur

[2017-04-20 16:07] jontromanab commented on #47
Hello @akashpatil92 . Yes, the size seems suspicious. Can you please send me the link from where I can access the ikfast.cpp file and reproduce the error? BTW, how much time did it take to make the h5 map?

[2017-04-21 06:03] akashpatil92 commented on #47
[IKFast UR10.tar.gz](https://github.com/ros-industrial-consortium/reuleaux/files/946106/IKFast.UR10.tar.gz)
Hello @jontromanab  I have attached IKfast cpp file in compressed folder in above link.Kindly check it.
I would like to narrate you scenerio which I faced during whole file creation.
1. I went through your tutorial [http://wiki.ros.org/reuleaux](url) and then tried to execute this command

[2017-04-21 10:19] jontromanab commented on #47
[ur10_maps.tar.gz](https://github.com/ros-industrial-consortium/reuleaux/files/946726/ur10_maps.tar.gz)
Hello @akashpatil92 The time takes to create ikfast file is not really in my hand.
But to my surprise, your ikfast file which is only 3.3mb works absolutely file. I have created 3 reachability maps with your file with resolutions 0.1, 0.2, 0.08. This is the size and time taken to generate those:

[2017-04-21 13:01] akashpatil92 commented on #47
Thanks @jontromanab  I tried with resolution 0.1 and it worked good. I came across the issue when I used resolution 0.05 as per your tutorial. So basically resolution was the issue. And it took 162 secs for me to generate map with resolution 0.1. My guess is this time varies as per system configuration which you are using.

[2017-04-21 14:31] jontromanab commented on #47
Yes @akashpatil92 . The time is dependent on system configuration. The 0.05 resolution is too high. Most probably you will not need such amount of poses. IT will also create problems for other applications using the map. For our experiments, I found that 0.1 or 0.08 is enough. Good to hear that you problem got solved. You can close this issue now if you like.

[2017-04-21 14:36] akashpatil92 commented on #47
Yes @jontromanab . I am closing this issue.Thanks for the help.

[2017-04-21 14:36] #47 closed

[2017-04-24 22:54] atomoclast commented on #41
Hi guys, sorry for the late reply. Let me look and see, then I'll let you guys know. I have it forked on my page right now. Will update in a few.

[2017-04-24 23:38] atomoclast commented on #41
So. I made some changes to the package XML

[code]

[2017-05-02 05:47] jontromanab commented on #44
hello @130s . I have not heard back from you if the problem is solved or not. From my end, I could not find any more error. If you have solved the problem, can you kindly close this issue? Thank you.

[2017-05-02 05:49] jontromanab commented on #46
hello @mrshahabian . Hope your problem is solved. Can you please close this issue? Thank you.

[2017-05-05 04:19] vickailiu commented on #44
@jontromanab I was facing the same issue and your solution helps, thanks!

[2017-05-11 13:53] hemangchawla commented on #41
@atomoclast modify the link directories in the CMakeLists.txt to

`link_directories("/usr/lib/x86_64-linux-gnu/hdf5/openmpi" "~/catkin_ws/devel/lib")`

That worked for me. The base_placement plugin compiles as well.

However when I add it in rviz panel, it crashes.

[2017-05-14 21:34] scottpaulin commented on #29
Another friendly ping :). Would also love to see a video of this package in action!

[2017-05-18 16:18] vickailiu opened #48 "Runtime Error in 'create_reachability_map'"
Hi @jontromanab

I was following the instructions in http://wiki.ros.org/reuleaux and use the package to analyze the reachability for a ur3 robot.

Everything proceeded ok until I run:
`rosrun map_creator create_reachability_map 0.08 3_robot.h5`

And it got the following error:
"terminate called after throwing an instance of 'std::runtime_error'
  what():  GetSolution index is invalid
Aborted (cor

[2017-05-22 17:21] jontromanab commented on #48
Hello @vickailiu . Sorry for replying you so late. Regarding your problem, can you send me your ikfast file for the ur3 arm?
By the way, are you using Indigo or Kinectic?

[2017-05-23 08:53] vickailiu commented on #48
@jontromanab surely, here it is:

[output_ikfast61.cpp.zip](https://github.com/ros-industrial-consortium/reuleaux/files/1021461/output_ikfast61.cpp.zip)

I traced back the problem in ikfast.h and did a hack on the function at line 297:
[code]

It did run through. Then another problem comes as I cannot load the reachability map: the load_reachability_map runs looks ok but I cannot find an available

[2017-05-24 17:14] jontromanab commented on #48
hello @vickailiu
Sorry for the delay in reply. I was debugging from the begining. However I have missed your comments that your hack worked and the problem is you cannot visualize the map. The solution is quite simple.
The fixed frame in load reachability map is "base_link". Have you tried with fixed_frame-> base_link ???

(Another question from me is are you sure the create_reachability_map proce

[2017-05-24 20:20] jontromanab commented on #41
Hello @atomoclast @geoffreychiou @willcbaker @hemangchawla
Sorry for the delay in the solution. But here is the solution to run Reuleaux on Kinetic.

https://github.com/jontromanab/reuleaux/tree/kinetic-devel

I am not very familiar with Kinetic. So please test this on your systems, before I ask @akgoins to merge it in the main repository and please let me know about the results.

Thank you everyb

[2017-07-20 07:50] vickailiu commented on #48
Hi @jontromanab , changing the fixed frame works. I can see the maps now. Thanks!

[2017-10-14 22:07] jontromanab commented on #29
Hello @130s , @Levi-Armstrong , @scottpaulin The Reuleaux package now has a video with modified functionalities. Please have a look.

[2017-11-22 13:47] skohlbr commented on #41
Just also ran into this on Kinetic. Will try the fork with the kinetic-devel branch posted by @jontromanab once I find some spare time. Anybody merged those changes with current master? :)

[2017-11-23 20:47] jontromanab commented on #41
@skohlbr please let me know if the solution works.

[2018-04-11 05:21] apuroopkgs opened #50 "Issue in loading Reachability Map"
Hello all,

I am new to ROS, but I wanted to check reachability of my robotic arm. I was able to generate map, but whenever I am trying to load the reachability map, I am getting following errors.

System Version: Ubuntu 16.04
ROS version: Kinetic LTS
I have modified the reuleaux package to make it Kinetic compatible by following this commit [https://github.com/ros-industrial-consortium/reuleaux/p

[2018-04-11 16:49] akgoins commented on #50
Looks like it is "unable to open file".  Did you try giving the full pathway to the file?

[2018-04-11 17:03] jontromanab commented on #50
Hello @apuroopkgs . The error is due to path error in your reachability map. Please check if the map is there.
For ROS kinetic, please use this one:
https://github.com/jontromanab/reuleaux/tree/kinetic-devel

If it still does not work, please send me the reachability map file. I will have a look at it.

[2018-04-12 04:33] apuroopkgs commented on #50
@jontromanab I have cloned the package that you had mentioned eariler. But it shows up errors like H5Cpp.h: No such file or directory

[2018-04-12 04:55] jontromanab commented on #50
That should not be the case as it is been tested by me and other people. That problem was solved with the kinetic branch. So which errors are you getting now? Is the path error is resolved? Can you please send me the errors in my branch?

[2018-04-12 05:28] apuroopkgs commented on #50
When I run catkin_make, I encounter the following errors
`hutlab@11CPU0308L:~/real_ws$ catkin_make
Base path: /home/hutlab/real_ws
Source space: /home/hutlab/real_ws/src
Build space: /home/hutlab/real_ws/build
Devel space: /home/hutlab/real_ws/devel
Install space: /home/hutlab/real_ws/install
####
#### Running command: "make cmake_check_build_system" in "/home/hutlab/real_ws/build"
####
-- Using C

[2018-04-12 05:48] jontromanab commented on #50
You do not have the hdf5 package installed. Have you tried installing hdf5 by

sudo apt-get install libhdf5-dev

[2018-04-12 06:02] apuroopkgs commented on #50
Yes it's already installed and is the newest version

`libhdf5-dev is already the newest version (1.8.16+docs-4ubuntu1)`

[2018-04-12 06:15] jontromanab commented on #50
maybe I have to tell you to check again if you have forked the correct branch. because the kinetic branch is not using the -lhdf5 library, which was done in the other branches. But not in the kinetic branch.

Otherwise, you can provide the link to the fork to the repo?

[2018-04-12 06:32] apuroopkgs commented on #50
https://github.com/jontromanab/reuleaux/tree/kinetic-devel

I have used this repo. I did not change anything after cloning.

[2018-04-12 06:58] jontromanab commented on #50
It should not be the case. That error should not be there if you have built the hdf5 properly.
Have you tried anything else with the hdf5 (rather than reuleaux). e.g running some sample codes or creating some database (my point is that maybe it is not built properly)
If you dont have some sample codes to run with hdf5, I can help with that. by which you can test whether hdf5 is there working

[2018-04-13 05:15] jontromanab commented on #50
can you remove hdf5 and install it again? I have the codes for testing somewhere in my old system. Otherwise, I have to find them out or have to create some new for you.

[2018-04-14 08:00] apuroopkgs commented on #50
Hello sir,
After trying a lot, by creating a new workspace and again cloning the files from the given branch. I have found out that the motoman_reachability map was loading successfully. When I am giving an ABB IK related files and creating the map it is showing up an error saying segmentation fault and core dumped. I guess there must be something which I am missing.

[2018-04-17 08:52] JXing48 opened #51 "problem with using fixed joint"
Hello all,

I tried to add robot into urdf and calculate reachability, but got a problem for using fixed joint. I tried to add end effector linked to ee_link. worked well when only changed position, but got wrong result when tried to change ee_link angle. Anyone know why and how to fix it?
Thanks!

[2018-04-18 05:47] jontromanab commented on #51
Hello @JXing48 . I did not truly understand your problem. Can you elaborate, please?

[2018-04-18 05:49] jontromanab commented on #50
Hello @apuroopkgs . sorry for delayed reply. Please let me know where are you right now and which pkg are you using. Seems like you solved the problem with hdf5. If you are having problem with a reachability map, please send me that and I will have a look into it.

[2018-04-18 07:05] JXing48 commented on #51
Hello @jontromanab . I am new to robot. I downloaded ur_description open source package from Github and tried to calculate ur3 reachability. I want to modify ee_link to simulate an end effector point. When I modified ee_link's origin both xyz and rpy, the reachability result pcl is wrong. But if only modify xyz looks fine. Similarly when I modified tool0. I upload the urdf I modified. Is there any

[2018-04-20 09:44] apuroopkgs commented on #50
Sorry for the delay. I am attaching the map file, kindly go through it and give me some direction to proceed.

[reuleaux-kinetic-devel.zip](https://github.com/ros-industrial-consortium/reuleaux/files/1931592/reuleaux-kinetic-devel.zip)

[2018-04-20 17:39] jontromanab commented on #50
Thank you, I will look into it.

[2018-04-20 17:42] jontromanab commented on #51
Hello @JXing48
The reachability map is constructed based on the pose of the ee_link. So if you change anything in ee_link in the urdf and utilize the same rm, theoretically it should not work. I am not pretty sure what you are trying to achieve.

Sorry as still have not understood properly your problem. Why don't you send me a mail and we can discuss it over there.

[2018-04-23 08:47] dsx0511 commented on #50
Hallo @jontromanab I got the similar errors. Can you pls also look into my map file? I'm using ROS with Indigo-level.
[reuleaux.tar.gz](https://github.com/ros-industrial-consortium/reuleaux/files/1937269/reuleaux.tar.gz)

[2018-04-26 09:55] JXing48 commented on #51
Hi @jontromanab . Sorry for replying late.. I wanted  to add own end effector. Yes. I misunderstood the urdf structure and confused about to use fixed joints. Yes, ee_link could not be modified. I changed it, now it works fine 😃 . Thanks!

[2018-05-15 04:57] jontromanab commented on #50
@apuroopkgs  I have looked into your reach map. There is some problem with the transformations in the generated IK file. It also cannot create a map with 0.08 resolution (That is probably our fault). But it can create a map with 0.09 resolution. Here is the image of the map with resolution 0.09. Please try with a lower resolution
![screenshot from 2018-05-14 21-43-55](https://user-images.githubuse

[2018-05-15 05:10] jontromanab commented on #50
@dsx0511 Somehow your ikfast file takes ages to calculate the ik solutions.
I have tested with the demo file here. Could not obtain any IK solution

https://github.com/jontromanab/ikfast_and_reach_maps

Now I have to ask you what is the DOF of your robot? currently it only supports 6DOF. I still have not added extension for 7DOF. Have not tested with less dof (most probably won't work)

If you are

[2018-06-04 20:15] vajrag commented on #50
Hello.

I have an error when I try to build my workspace. It is regarding **hdf5.so** files.
I have the latest version of hdf5 in my system and I am using Ubuntu 16.04. How can this be rectified?
 I have attached the screenshot of the terminal below! :)

Looking forward to the answers.

Thank you

![screenshot from 2018-06-04 22-12-07](https://user-images.githubusercontent.com/31618426/40939303-8d

[2018-06-05 20:31] jontromanab commented on #50
@vajrag  have you tried my kinetic branch of Reuleaux?
https://github.com/jontromanab/reuleaux/tree/kinetic-devel

It should work.

[2018-06-05 20:34] vajrag commented on #50
Hi @jontromanab.

Yes, I have the kinetic branch. And this issue is from there!!

[2018-06-06 09:36] vajrag commented on #41
Hey @jontromanab!

I did follow this, reinstalled  hdf5 using this command sudo apt-get install libhdf5-dev and it is the newest version.
I have cloned this version https://github.com/jontromanab/reuleaux/tree/kinetic-devel of the repo. But I still face this issue

[2018-06-07 06:34] jontromanab commented on #41
@vajrag  Do you have any way to test if the hdf5 library is working separately. Most of the forks from the kinetic branch generally work. Is there any way to see your fork?

[2018-10-22 05:59] 130s commented on #29
Cool, thanks!

[2018-10-22 05:59] #29 closed

[2018-10-29 00:39] asaksena1978 opened #52 "installation problem"
I am using ubunt 16.04, ROS kinetic after installing when catkin_make command is executed I come across following error
 5%] Linking CXX shared library /home/<username>/crane_plus_ws/devel/lib/libhdf5_dataset.so/usr/bin/ld: cannot find -lhdf5
collect2: error: ld returned 1 exit status
reuleaux/map_creator/CMakeFiles/hdf5_dataset.dir/build.make:374: recipe for target '/home/<username>/crane_plus_ws

[2018-10-29 07:44] asaksena1978 commented on #52
linked the libraries - now the linking error is not present
cd /usr/lib/x86_64-linux-gnu
sudo ln -s libhdf5_serial.so.10.1.0 libhdf5.so

sudo ln -s libhdf5_serial_hl.so.10.0.2 libhdf5_hl.so
export LIBRARY_PATH=/opt/lib/

[2018-10-29 07:44] #52 closed

[2018-10-30 04:23] asaksena1978 opened #53 "plugin.xml has no root element"
while starting rviz I get this error - "skipped loading plugin with error: XML Documents '<PATH>/reuleaux/base_placement_plugin/plugin.xml' has no Root Element. This likely means the XML is malformed or missing.."
I checked base_placement_pluigin folder plugin.xml file exists.
rviz is running, but the reachability map is not displayed.

[2018-10-30 12:17] jontromanab commented on #53
I dont think its an error. It can be an warning. Have you tried to visualize the map by following the tutorial. Also referenced here #46
Please let me know

[2018-10-31 07:05] asaksena1978 commented on #53
I was able to fix the error by closing the '/class' in plugin.xml and changing fixed frame to base_link as suggested by you #46. Now I am able to view the reachability map.

[2018-10-31 07:05] #53 closed

[2018-10-31 14:58] jontromanab commented on #53
@gavanderhoorn I have added the missing closing tag in PR #54
Thank you for watching out.

[2018-11-01 10:46] zjy0818 opened #55 "issue in “reuleaux""
Hello, there are several questions about reuleaux that I would like to ask:
1. I use Ubuntu16.04, ROS Kinetic, my robot has two 7-DOF arm robots, I use your kinetic-branch, https://github.com/jontromanab/reuleaux/tree/kinetic-devel
 I catkin_make it ok，but I getting the following error when loading the map:
HDF5-DIAG: Error detected in HDF5 (1.8.16) thread 140584366880640:
  #000: ../../../src/H5D

[2018-11-01 15:19] jontromanab commented on #55
@zjy0818 Starting from the visible error, it seems the database never got created.
It is due to the fact that Reuleax can only support 6DOF robots for now. I did not get time to add support for 7DOF.
Yes, IK-FAST supports more than 6DOF, but we have to define the free index. It was just never implemented. You are welcome to implement it if you are interested. I will more than happy to help.

About

[2018-11-02 01:06] zjy0818 commented on #55
@jontromanab Thank you for your reply.

I read your paper, which says that we can use KDL, reuleaux_moveit is the KDL used? I see this package has been successfully applied to PR2 robots. Now I want to try it on my two-arm robots, but I don't know how to use reuleaux_moveit package to create and load maps. Can you tell me the steps of this package?

Thank you very much indeed

[2018-11-02 01:36] jontromanab commented on #55
yes, Reuleaux_moveit generally uses KDL which is really slow. We can use
ikfast with reuleax_moveit too.
We had implemented reuleaux on lots of robots (not with two arm though)

Actually, I stopped the work a long time ago, almost 1 year due to job
searching and stuff.
Please ping me in a couple of days as I am really busy now.
We can surely work it out then.

Thank you.

On Thu, Nov 1, 2018 at 1:

[2018-11-02 05:05] zjy0818 commented on #55
@jontromanab Hello, the mail has been sent to the mailbox jontromanab.abhijit@gmail.com
my email address 547080770@qq.com

[2018-11-16 19:32] matteoscanavino commented on #46
Hello @jontromanab I have the same problem when I try to plot data from pixhawk IMU... I can see and plot the acceleration in rqt_plot but when I do the same in rviz, I got "For frame [/base_link]: Frame [/base_link] does not exist".
Do you have any suggestions?

[2018-11-16 19:39] jontromanab commented on #46
@matteoscanavino Though your problem is not related to reuleaux, it is due to mismatch in header.frame_id of your data. try to rostopic echo it and verify and check your fixed frame in rviz. Both should be same.

[2018-11-16 19:44] matteoscanavino commented on #46
@jontromanab Thankyou, that solved!

[2018-12-10 16:58] myalfred03 opened #56 "Workspace show a box with robots with a higher structure like KUKA-KR210L150 o FANUC-r1000ia80f"
Hello, I've follow all steps how to generate the workspace of Robots, I've test robots like MH5 of tutorial and irb120 and  the workspace is fine, but when test the robots like KUKA-KR210L150 o FANUC-r1000ia80f this show me a box that don't match with the real workspace of a robot of 6DOF

![urdf rviz- - rviz_186](https://user-images.githubusercontent.com/12577091/49748124-8309f180-fc6a-11e8-8cfc-

[2019-01-29 19:58] jontromanab commented on #56
yes, Please change the parameter in the line 98 (float r = 1) try to put 2 and rerun it. (1 is the approximation of initial box around the robot) If your robot is bigger, you should consider bigger approximation.

[2019-01-31 16:11] myalfred03 commented on #56
Thanks @jontromanab, this way is workspace acceptable?, if is ok them I would Close the issue.

[2019-02-04 15:15] indraneelpatil commented on #50
@jontromanab Please guide me with this tiny confusion whenever possible! Thanking you in advance!
So I am currently working with the URDF of ABB 1410 and I have successfully followed your instructions to convert the urdf into a suitable collada file and then I have also found the ikfast.cpp file for this robot.

So my question is where do the joint limits of the robot which are specified in the ur

[2019-02-07 15:06] jontromanab commented on #56
Yes, that is the way to approximate the initial box size (ps. I dont know your robot's size, so may be you have to tweak that parameter)

[2019-02-07 15:11] jontromanab commented on #50
@apuroopkgs that is surely a very valid confusion. The current version of Reuleaux does not support self collision. Of course it supports joint limits. Otherwise the reachability does not make sense. I have a developmental repo [https://github.com/jontromanab/reuleaux_moveit] which considers joint limits and self-collision. You can try that.

[2019-02-18 20:50] myalfred03 commented on #56
Thanks @jontromanab :+1:

[2019-02-18 20:50] #56 closed

[2019-03-05 11:49] blubbi321 commented on #41
I had the same issue and it turned out I just forgot to change the branch after checkout ;)

[2019-05-20 17:13] JuliusSustarevas commented on #41
This issue appears again in melodic, any advice?

[2019-05-20 17:30] JuliusSustarevas commented on #50
Any advice when this issue appears again when building  in melodic?

[code]

[2019-06-09 13:23] zhanghengsjtu opened #57 "Segmentation fault (core dumped) when uploading Base_placement_plugin."
Hello, thank you for sharing such a nice work. I'm using ubuntu16.04+ros Kinetic. I used the code of Reuleaux from kinetic branch https://github.com/atomoclast/reuleaux.git. The code can be compiled successfully, however when I upload the Base_placement_plugin in Rviz, it shows Segmentation fault (core dumped). Hope to see the answer.

[2019-08-21 08:12] jkw0701 commented on #55
Hello, I'm trying to make reachability map of 7dof manipulator, PANDA from FRANKA EMIKA.

Is it still impossible to create reachability map of 7dof manipulator?

Any commit is updated or sth?

[2019-09-10 09:42] farshbafdoustar opened #58 "map_creator load_reachability_map stack smashing detected"
[ INFO] [1568108363.853125526]: Opening map motoman_mh5_r1.1_reachability.h5
*** stack smashing detected ***: /home/abc/catkin_ws/devel/lib/map_creator/load_reachability_map terminated
Aborted (core dumped)

It seams that it is related to the full path length during the file opening in hdf5_dataset.cpp
[code]
when the path is more than 100 chars this happens.
I will update the source code and make

[2019-09-10 10:15] #58 closed

[2019-09-13 07:21] vkguda355 commented on #50
if that message appears even after u had installed the lhdf5 libraries ?  then it is related to the declaring the libraries in the  bashrc.

[2019-09-26 17:30] JuliusSustarevas commented on #50
Can you elaborate on the declaring lhdf5 in bashrc? I'm not sure what you mean, didn't find anything similar online either.

[2019-09-26 22:30] vkguda355 commented on #50
in your bashrc, after u source your worksapce, export the path of the library hdf5
example: export CPATH=/usr/include/hdf5/serial

and try if this helps.

[2019-09-26 22:50] vkguda355 commented on #57
i am also facing a similar problem after i load the plugin it shits down by showing segment fault(core dumped).

[2019-09-27 17:46] jontromanab commented on #57
@vkguda355 @zhanghengChina sorry for the delayed reply. As you are using kinetic, the main branch here does not support kinetic. I have the kinetic branch here.
[https://github.com/jontromanab/reuleaux/tree/kinetic-devel](https://github.com/jontromanab/reuleaux/tree/kinetic-devel)

Please use that code and let me know how it goes.

[2019-09-27 17:48] jontromanab commented on #50
@vkguda355 @JuliusSustarevas Please use the proper kinetic branch. It is here.
[https://github.com/jontromanab/reuleaux/tree/kinetic-devel](https://github.com/jontromanab/reuleaux/tree/kinetic-devel)

[2019-10-01 14:04] sasa94-web commented on #57
I'm using this reuleaux for kinetic devel and I'm also facing the same issue, when I upload base_placement plugin in Rviz. Can you please help me.

[2019-10-13 12:11] tunguyenmta commented on #41
As a long time searching on the internet I have just built the package 100%
firstly, you need to find the path to the H5Cpp.h in my case it is /usr/include/hdf5/serial/
then you can use terminal and export or add export CPATH=/usr/include/hdf5/serial/ in bashrc
and when compile you will face another issue that is about /usr/bin/ld: cannot find -lhdf5
in my case once again we need to find the path

[2019-10-14 15:47] tunguyenmta commented on #57
I have faced same issue  @jontromanab can you help me pls I'm using ros kinetic and use the package branch kinetic devel

[2019-10-16 12:01] daominhson commented on #41
huhuhu

[2019-10-22 13:02] MatthewJudijanto commented on #57
Hi,
I also face the same issue right now. I'm using the ikfast example from:
https://github.com/PacktPublishing/Mastering-ROS-for-Robotics-Programming-Second-Edition/blob/master/Chapter14/ikfast_demo/ikfast61.cpp

I'm able to compile the catkin_make after changing the kinematics.h without any error. But launching the map cause me this same error of core dumped.

Also, when I was trying to launch o

[2019-10-26 12:43] arrijon96 opened #59 "Segmentation fault (core dumped) when creating cpp file with IKFast"
Hello!

I am trying to get an analytical inverse kinematics solution for my robot. To do so, I followed this tutorial (http://docs.ros.org/melodic/api/moveit_tutorials/html/doc/ikfast/ikfast_tutorial.html). I am using Melodic and my robot (I attach the urdf file) has got 3DOF.

As a starting point, in order to choose the baselink and eelink I run:
- - -
openrave-robot.py jurp1_1.dae --info links
-

[2019-11-15 23:21] zephirefaith commented on #48
Hi @jontromanab, I am trying to use your package to do reachability analysis for a UR5e arm, and stumbling upon the same problem. The hack by @vickailiu has not worked for me at all. I am using the kinetic-devel branch of reuleaux.

[2019-11-21 10:19] sidml commented on #41
I got this error in melodic. I resolved it by linking both hdf5 and hdf5_cpp.

In cmake file i added the following
`target_link_libraries(basic_shapes
hdf5
hdf5_cpp
  ${catkin_LIBRARIES}
)`

[2020-02-18 22:52] JuliusSustarevas commented on #55
@jkw0701 I'm bit stuck doing the same. Have you perhaps resolved the problem?

[2020-02-20 17:10] JuliusSustarevas opened #60 "HDF5 errors"
Hi, sorry if this is a silly question but:
I am building a reachablity map for  the panda arm.  ubuntu 16, kinetic
**I've set everything up and when actually creating the map I get a whole bunch of hdf5 errors.:**

amlnuc@amlnuc2:~/catkin_ws$ rosrun map_creator create_reachability_map 0.08 panda.h5
[ INFO] [1582216936.895534878]: Creating the box and discretizing with resolution: 0.080000
[ INFO]

[2020-05-06 19:12] lianghongzhuo opened #61 "current state of this package?"
@jontromanab Hi, your kinetic branch https://github.com/jontromanab/reuleaux/tree/kinetic-devel
can build in my melodic ros by simply change `isnan` to `std::isnan` in file `map_creator/include/mh5_ikfast.cpp`. Could you push your branch in here? As this link http://wiki.ros.org/reuleaux#Installation in ros wiki guided me to this repo... People will get confused if they want to use this package wi

[2020-09-01 02:06] PeterMitrano commented on #46
In case anyone has a similar problem when upgrading to ROS Noetic, apparently before it was ok to use a trailing slash "/world" and that would match to non-slash "world" but now I it only works if I set frame id to "world" without a slash

I realize this isn't the place for the comment, but this is the first google result so I thought it might help others

[2020-09-08 13:41] 130s commented on #44
I'm closing this ticket I opened as I moved on. Seems like the workaround is suggested too (is that change https://github.com/ros-industrial-consortium/reuleaux/issues/44#issuecomment-293073819 added to the code?). Thanks @jontromanab

[2020-09-08 13:41] #44 closed

[2020-09-28 04:10] bhtxy0525 commented on #50
@jontromanab   I also get this problem, please help me, thank you. My ros version is Kinetic and use your branch
[ INFO] [1601265877.425609318]: Opening map motorman_mh5_r0.08_rechability.h5
HDF5-DIAG: Error detected in HDF5 (1.8.16) thread 139967922034560:
  #000: ../../../src/H5F.c line 604 in H5Fopen(): unable to open file
    major: File accessibilty
    minor: Unable to open file
![1](https:/

[2020-11-30 01:40] nkhedekar commented on #59
I faced the same issue and using this [solution](https://github.com/ros-planning/moveit_tutorials/issues/417#issuecomment-673210614) worked for me. The segfault still happens but after the cpp file has been written

[2021-03-05 11:48] vonunwerth commented on #44
@jontromanab s fix seems to work.
I was facing the same error and could successfully make by adding `-llapack` in line 54 and `-lhdf5 -lhdf5_cpp` to line 55.

[2021-12-27 11:52] Erixar opened #65 "issue for reachability map visualizing in ros noetic"
There are some problems when i was tried to visualizing the reachability map in rviz as tutorial , there just... nothing happend.
the file I've chosen is the demo https://github.com/jontromanab/ikfast_and_reach_maps.git
When i started with _rosrun map_creator load_reachability_map abb_irb2400_r0.09_reachability.h5
the terminal just shows [ INFO] [1640604031.604953992]: Opening map abb_irb2400_r0.0

[2022-05-23 01:54] ichdich commented on #65
You'd better set Fixed Frame to base_link instead of map.

[2022-05-23 01:58] ichdich commented on #60
[ INFO] [1582217461.845489157]: Total number of reachable poses: 0
[ INFO] [1582217461.845501440]: No of spheres reachable: 0
I think this may cause the hdf5 errors.
You may have incorrect ikfast61_xxx.cpp file.

[2022-06-03 16:58] Kaushik093 commented on #41
I am facing the same issue on noetic
**fatal error: H5cpp.h: No such file or directory**
How do I resolve this?

[2022-06-03 17:05] Kaushik093 commented on #41
`In file included from /home/kaushik/catkin_ws/src/reuleaux/map_creator/src/hdf5_dataset.cpp:1:
/home/kaushik/catkin_ws/src/reuleaux/map_creator/include/map_creator/hdf5_dataset.h:3:10: fatal error: H5cpp.h: No such file or directory
    3 | #include "H5cpp.h"
      |          ^~~~~~~~~
compilation terminated.
make[2]: *** No rule to make target '/opt/ros/noetic/lib/liboctomap.so.1.9.8', needed by

[2022-06-06 14:43] Kaushik093 opened #66 "/usr/bin/ld: cannot find -lhdf5"
When I run catkin_make after cloning the repo I get this error message.

`/usr/bin/ld: cannot find -lhdf5
collect2: error: ld returned 1 exit status
reuleaux/map_creator/CMakeFiles/hdf5_dataset.dir/build.make:376: recipe for target '/home/kaush/catkin_ws/devel/lib/libhdf5_dataset.so' failed
make[2]: *** [/home/kaush/catkin_ws/devel/lib/libhdf5_dataset.so] Error 1
CMakeFiles/Makefile2:1176: recipe

[2022-06-27 12:46] juntuck commented on #65
I ran into the same problem. Just remove the slash in [this line](https://github.com/ros-industrial-consortium/reuleaux/blob/ad33a164d2e81bdbb79c2aa6d508c686f633be14/map_creator/src/load_reachability_map.cpp#L38) and recompile.

If I'm not mistaken, a preceeding slash is a namespacing functionality in TF1, which is deprecated in TF2.

[2022-06-28 10:47] Rakee003 commented on #66
Did you fix this? Having the same issue

[2022-06-28 15:38] Kaushik093 commented on #66
Use the method given in #41 .

[2022-06-28 15:41] Kaushik093 commented on #31
How do I introduce constraints and check if a given pose is reachable or not?

[2022-06-30 09:48] Rakee003 commented on #66
Thank you , it solved

[2022-07-02 14:58] ChanSir-QZ commented on #50
I built with the  [kinetic branch](https://github.com/jontromanab/reuleaux/tree/kinetic-devel) in mine melodic ros on Ubuntu18.04 by simply adding
`using namespace std;`
#61  in file
_map_creator/include/mh5_ikfast.cpp_.

And try giving the full pathway to the filein [the command](http://wiki.ros.org/reuleaux):
 `rosrun map_creator load_reachability_map motorman_mh5_r0.08_rechability.h5` .
It work

[2022-07-04 16:59] Kaushik093 opened #67 "Extraction of data"
How do I extract the co-ordinates of the points displayed in the reachability map?

[2022-07-04 17:14] jontromanab commented on #67
You can access the coordinates of the points/spheres by the similar methods used in load_reachability_map.cpp file line 44-46. If you want you can log them out or push them to a file.

[2022-07-04 17:18] jontromanab commented on #60
Yes. I can agree with @ichdich . YOu have a wrong ikfast file which did not provide any IK solution. That is the reason there is no reachable poses. So the map generation process generated spheres, but no poses.
The rest of the errors are just hdf5 errors as the system tried to push empty data and accessed those.
I have to make some safeguards in some PR. :)

[2022-07-04 17:21] jontromanab commented on #65
A lot of stuffs have changed from TF1 to TF2. So I am not sure if this is still going to work. But @Erixar , Can you please confirm the solutions provided here resolved your problem?

[2022-07-04 17:23] jontromanab commented on #31
@Kaushik093 This reuleaux version is not designed in such way where you can search for a specific pose for reachability. For checking reachability for a specific pose, you can just ran it by your ik solver and it can provide you the output very easily.

[2022-07-05 06:46] Kaushik093 commented on #67
Okay. So I would have to execute the file seperately ?

[2022-07-05 06:53] Kaushik093 opened #68 "Error while creating inverse reachability map"
When I run the command   `rosrun map_creator create_inverse_reachability_map {reachability map}` I get the following error .

`[ INFO] [1657003801.201813186]: Creating map with default name.
[ INFO] [1657003801.203122128]: Opening map elfin5_r0.08_reachability_ssr.h5
[ INFO] [1657003801.204203088]: Opening map elfin5_r0.08_reachability_ssr.h5
[ INFO] [1657003802.711464680]: Number of poses in RM:

[2022-07-09 10:45] Kaushik093 commented on #57
I am running ros-melodic and I am facing the same issue

[2022-07-14 05:49] Kaushik093 commented on #27
How do I add the workspace_visualizatition tab in rviz ? I am using ros noetic on ubuntu 20.04
After I click on add new display it is not shown in the list

[2022-07-15 17:02] Kaushik093 opened #69 "Could not load base placement plugin"
When I try to load the base placement plugin I get the following error.

**The class required for this panel, 'base_placement_plugin/Base Placement Plug-in', could not be loaded.**

`Failed to load library /home/kaushik/catkin_ws/devel/lib//libbase_placement_plugin.so. Make sure that you are calling the PLUGINLIB_EXPORT_CLASS macro in the library code, and that names are consistent between this ma

[2022-08-05 06:53] Kaushik093 opened #70 "End effector accomodation"
I have created a reachability map for an Elfin5 robot with an end effector attached to it but the reachability map is not different for the robot with the end effector and without it. Any idea why this is happening?

[2022-09-28 14:19] KartikeyaWalia opened #71 "compilation error in Noetic"
Hello,

has anyone managed to compile rouleaux with Noetic? I have been using [the kinetic-devel](https://github.com/jontromanab/reuleaux/tree/kinetic-devel) . I have made changes following the discussions in the issues already raised regarding:

H5cpp.h using https://github.com/ros-industrial-consortium/reuleaux/issues/41#issuecomment-541413209 and https://github.com/ros-industrial-consortium/reu